In [20]:
import pandas as pd
import numpy as np
import csv

In [78]:
header = ['fever','vomiting','dizzeness','sweating','chest_pain']
malaria = ['dizzeness','vomiting']

In [32]:
with open('Dataset.csv', mode='w') as dataset_file:
    dataset_writer = csv.writer(dataset_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL,lineterminator = '\n')

    dataset_writer.writerow(header)
    for i in range(20):
        dataset_writer.writerow(np.zeros(5))

In [69]:
df = pd.read_csv("Dataset.csv")
df.head(7)

   fever  vomiting  dizzeness  sweating  chest_pain
0      1         1          1         1           1
1      0         0          0         0           0
2      0         0          0         0           0
3      0         0          0         0           0
4      0         0          0         0           0
5      0         0          0         0           0
6      0         0          0         0           0

In [70]:
csv_read = open("Dataset.csv","r")
reader = csv.reader(csv_read)

for row in reader:
    print(row[2])

dizzeness
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [79]:
col = 0
for name in header:
    col += 1
    for sym in malaria:
        if sym == name:
            print(sym , " ", col)
            df.iloc[1,col-1] = 3

vomiting   2
dizzeness   3

5.0

In [80]:
df.head()

   fever  vomiting  dizzeness  sweating  chest_pain
0      1         1          1         1           1
1      0         3          3         0           0
2      0         0          0         0           0
3      0         0          0         0           0
4      0         0          0         0           0