In [20]:
import pandas as pd
import numpy as np
import csv

In [78]:
header =  {"fever", "vomiting", "headache","sweating","abdominal_pain","diarrhea","bloody_stools","muscle_pain","bleeding","skin_rash","fatigue","nausea","sweat","back_pain","neck_pain","arm_pain","chest_pain","dizziness","low_breath","urine_blood","vision_problem","low_heartbeat","confusion","depression","anxiety","constipation","stiff_neck","yawning","more_urine","thirsty","decreased_appetite","neck_stiff","shoulder_pain","weak","muscle_cramps","muscle_spasm","rash","breath_problems","itching","cold","swelling","hives","wheezing","weight_loss","dry_mouth","stomach_pain","vomiting","bleed","cough","anus_itching","anus_swelling","fecal_leakage","painful_bowel_moments","blood_o_tissue","anal_bleeding","stool_pressure","lump_anus"}
malaria = ['fever','vomiting','headache','sweating','abdominal_pain','diarrhea','bloody_stools','muscle_pain']
Dengue=['fever','vomiting','headache','bleeding','skin_rash','fatigue','muscle_pain','nausea']
Heart_Attack=['sweat','back_pain','neck_pain','arm_pain','chest_pain','dizziness','fatigue','low_breath']
Hypertension=['headache','chest_pain','fatigue','low_breath','urine_blood','vision_problem','low_heartbeat','confusion']
Migraine=['depression','anxiety','constipation','stiff_neck','yawning','more_urine','thirsty','decreased_appetite']
Cervical_spondylosis=['neck_stiff','neck_pain','headache','shoulder_pain','weak','muscle_cramps','muscle_spasm','arm_pain']
Paralysis=['fever','neck_pain','headache','rash','constipation','diarrhea','vision_problem','breath_problems']
Drug_Reaction=['fever','itching','cold','rash','low_breath','swelling','hives','wheezing']
Alcoholic_hepatitis=['fever','weight_loss','dry_mouth','stomach_pain','fatigue','vomiting','bleed','confusion']
Pneumonia=['fever','sweating','vomiting','cough','low_breath','chest_pain','fatigue','nausea']
Dimorphic_hemmorhoids(piles)=['anus_itching','anus_swelling','fecal_leakage','painful_bowel_moments','blood_on_tissue','anal_bleeding','stool_pressure','lump_anus']

In [32]:
with open('Dataset.csv', mode='w') as dataset_file:
    dataset_writer = csv.writer(dataset_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL,lineterminator = '\n')

    dataset_writer.writerow(header)
    for i in range(20):
        dataset_writer.writerow(np.zeros(5))

In [69]:
df = pd.read_csv("Dataset.csv")
df.head(7)

   fever  vomiting  dizzeness  sweating  chest_pain
0      1         1          1         1           1
1      0         0          0         0           0
2      0         0          0         0           0
3      0         0          0         0           0
4      0         0          0         0           0
5      0         0          0         0           0
6      0         0          0         0           0

In [70]:
csv_read = open("Dataset.csv","r")
reader = csv.reader(csv_read)

for row in reader:
    print(row[2])

dizzeness
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [79]:
col = 0
for name in header:
    col += 1
    for sym in malaria:
        if sym == name:
            print(sym , " ", col)
            df.iloc[1,col-1] = 3

vomiting   2
dizzeness   3

5.0

In [80]:
df.head()

   fever  vomiting  dizzeness  sweating  chest_pain
0      1         1          1         1           1
1      0         3          3         0           0
2      0         0          0         0           0
3      0         0          0         0           0
4      0         0          0         0           0